PORT=
MONGO_URI=


JWT_SECRET=
JWT_EXPIRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_BASIC_PLAN=
PAYSTACK_PREMIUM_PLAN=
PAYSTACK_PRO_PLAN=
RESEND_API_KEY=
CLIENT_URL=




# ADMIN
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_PHONE=
CALLBACK_URL=
# PAYMENT